node_modules/
dist/
packages/*/build/
.nx/cache/
.nx/workspace-data/
.nestbridge/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
*.log
.DS_Store
coverage/
.idea/
